<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    
    <h3>Preencha os campos abaixo se quiser enviar uma mensagem</h3>

    <form action="/contato" method="POST">

        <label for="nome">Insira o seu nome :</label>
        <input type="text" id="nome" name="nome">

        <label for="email">Insira o seu email :</label>
        <input type="text" id="email" name="email">

        <label for="assunto">Insira o assunto da mensagem :</label>
        <input type="text" id="assunto" name="assunto">

        <label for="mensagem">Insira a mensagem :</label>
        <input type="text" id="mensagem" name="mensagem">
        

        <button type="submit">Enviar</button>
    </form>
    
    <a href="http://localhost:3000/index.html">
        <div> voltar </div>
    </a>
</body>
</html>