<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div>
        <h3>Dê uma sugestão para o nosso cardapio</h3>
        <form action="/" method="POST">

            <label for="namef">Insira o nome da comida :</label>
            <input type="text" id="namef" name="namef">
            <label for="igredientes">Insira os igredientes dessa comida</label>
            <input type="text" id="igredientes" name="igredientes">

            <button type="submit">Enviar</button>
        </form>
    </div>

    <a href="http://localhost:3000/contatos.html">
        <div> Contatos </div>
    </a>
    <a href="http://localhost:3000/api/lanches">
        <div> API </div>
    </a>
</body>
</html>